@model List<Pelicula>
@{
    ViewData["Title"] = "Home Page";
}

<main class="container py-5">
    <section class="hero-section text-center mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="display-4 fw-bold mb-4">Descubre tu nueva obsesión</h1>
                <div class="input-group input-group-lg shadow-sm mb-4">
                    <span class="input-group-text border-end-0">
                        <span class="material-symbols-outlined text-muted">search</span>
                    </span>
                    <input class="form-control border-start-0" placeholder="Busca por película, género, plataforma..." type="text" />
                    <button class="btn btn-danger px-4" type="button">Search</button>
                </div>
@*                 <div class="d-flex flex-wrap justify-content-center gap-2">
                    <span class="badge rounded-pill border border-light text-light fw-normal py-2 px-3">Tendencias: Dune: Part Two</span>
                    <span class="badge rounded-pill border border-light text-light fw-normal py-2 px-3">Oppenheimer</span>
                    <span class="badge rounded-pill border border-light text-light fw-normal py-2 px-3">The Bear</span>
                </div> *@
            </div>
        </div>
    </section>
    <section class="mb-5">
        <div class="d-flex justify-content-between align-items-end mb-4">
            <div>
                <h2 class="h3 fw-bold mb-0">Catálogo</h2>
                <div class="bg-danger" style="height: 4px; width: 40px; border-radius: 2px;"></div>
            </div>
            <a class="btn btn-link text-danger text-decoration-none fw-bold p-0" href="#">View All</a>
        </div>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
            @foreach (var pelicula in Model)
            {
                <div class="col">
                    <div class="card movie-card  h-100">
                        <div class="card-img-container">
                            <img alt="@pelicula.Titulo" class="card-img-top" src="@pelicula.PosterUrlPortada" style="aspect-ratio: 2/3; object-fit: cover;" />
                            <div class="rating-badge">
                                <span class="material-symbols-outlined" style="font-size: 14px; font-variation-settings: 'FILL' 1">star</span> @pelicula.PromedioRating
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <h6 class="card-title text-truncate mb-0 fw-bold">@pelicula.Titulo</h6>
                            <p class="card-text small text-muted">@pelicula.Genero.Descripcion • @pelicula.FechaLanzamiento.Year</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

</main>
